<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Entrance</title>
    <script src="../javascripts/jquery.min.js"></script>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="../javascripts/cookies.js"></script>
</head>
<body>

<div class="pageContainer">
    <div class="nav">
        <h1>Smart Entrance</h1>
        <button id="giot" title="Green IOT"></button>
        <button id="logout" title="Logout"></button>
        <button id="logo"title="Logo"></button>
        <button id="logs" class="on" title="Logs"></button>
    </div>
    <div id="alertTop">
        <h3></h3>
    </div>
<!--chap-->
    <div class="container show" id="users">
        <div class="addUser">
            <h3>Add User</h3>
            <input type="text" placeholder="username" class="username">
            <input type="number" placeholder="example : 92213018" class="userId">
            <button class="submitUser">Submit</button>
        </div>
        <div class="listContainer">
            <div class="header">
                <h3>Users</h3>
                <input type="text" class="searchUserInput">
                <button class="newUser" title="Add New User"></button>
                <button class="reload" title="Reload"></button>
                <button class="searchBtn" title="Search Users"></button>
            </div>
            <ul class="userList">

            </ul>
        </div>
    </div>
<!--rast -->
    <div class="container clientMonitor" id="monitor">
        <h2>Classes</h2>
        <ul class="classList">

        </ul>
    </div>
    <div class="container logs clientMonitor" id="logsForm">
        <h2>Logs Panel</h2>
        <select>
            <option value="1"> last day </option>
            <option value="7"> last week </option>
            <option value="31"> last month </option>
            <option value="93"> last season </option>
            <option value="365"> last year </option>
            <option value="0"> All </option>
        </select>
        <button id="printLogs"> System Full Logs </button>
        <button id="printPresence"> Users Presence </button>
    </div>
</div>

    <div id="box">
        <h3></h3>
        <button class="cancel">Cancel</button>
        <button class="ok">Ok</button>
    </div>
</div>
</body>



<script>

    var username = "";
    var classid = "";
    var lastUserName="";
    var submitMode = "create";
    var turnInterval = null;
    var classNumber = 0;
    var classDay = "";
    var searchUser = "";
    var lastUserId = "";
    var deletingClasses = [];
    var studentsView = false;

    $(document).ready(function(){
        loadUsers();
    });
    $("body").on("click","#printLogs",function(){
        $.ajax({
           url:"/admin/getLogs",
           method:"POST",
           data:{
                timeEdge : parseInt($(".logs select").val())
           },
            success: function(result) {
                if(!result.message) {
                    window.location.pathname="/logs/"+result;
                }
                else{
                    alert(result.message);
                }
            }
                // URL.revokeObjectURL(url)
                // };
        });
    });
    $("body").on("click","#printPresence",function(){
        $.ajax({
           url:"/admin/getPresents",
           method:"POST",
           data:{
                timeEdge : parseInt($(".logs select").val())
           },
            success: function(result) {
                if (!result.message) {
                    window.location.pathname = "/logs/" + result;
                }
                else {
                    alert(result.message);
                }
            }
        });
    });
    $("body").on("click","#logs.on",function(){
       $("#monitor").addClass("show");
       $("#logsForm").addClass("show");
        $("#classes").removeClass("show");
        $("#users").removeClass("show");
       $(this).addClass("off").removeClass("on");

    });
    $("body").on("click","#logs.off",function(){
        $("#classes").addClass("show");
        $("#users").addClass("show");
        $("#monitor").removeClass("show");
        $("#logsForm").removeClass("show");

        $(this).addClass("on").removeClass("off");
    });
    $("body").on("click",".submitUser",function(){
        submitUser();
        studentsView = false;
    });
    $("body").on("click","#logout",function(){
        logout();
        window.location.pathname = "/";
    });
    $("body").on("click",".eachUser .editUser",function(){
        $(".addUser").slideDown(300);
        username  = $(this).siblings("span").html();
        lastUserName = username;
        let userId = $(this).siblings("span")[1].innerHTML;
        lastUserId = userId;
        $(".addUser .userId").val($(this).siblings("span")[1].innerHTML);
        getUserInfos();
        submitMode = "edit";
        let element = $(".newUser");
        element.addClass("close");
        $(".addUser h3").html("Edit User : " + lastUserName);
        studentsView = false;
    });
    
    
    $("body").on("click",".loadHome",function(){
        $(".addUser").slideUp(300);
        $(".addClass").slideUp(300);
        username  = "";
        lastUserName = "";
        loadClasses();
        $("#classes .header h3").html("Classes :");
        $(".loadHome").hide(300);
        studentsView = false;
    });
        $("body").on("click","#users .header .newUser",function(){
        $(".addUser").slideDown(300);
        $(this).addClass("close");
        submitMode = "create";
        $(".addUser h3").html("Add User");
        $(".addUser .username").val("");
    });

    $("body").on("click","#users .header .newUser.close",function(){
        $(".addUser").slideUp(300);
        $(this).removeClass("close");
    });

    $("body").on("click",".addUser .cancel",function(){
        $("#users close").click();
    });


    $("body").on("click",".deleteUser",function(){
        if(studentsView) {
            if (this.className.split("student").length > 1) {
                username = $(this).siblings("span")[0].innerHTML;
                lastUserName = username;
                assignUserToPublicClass(classid, username, false, true);
            }
        }
        else{
            username = $(this).siblings("span").html();
            lastUserId = $(this).siblings("span:nth-child(2)").html();

            $("#box").show(300);
            $("#box h3").html(`
             Are you sure you want to delete user ${username} ?
        `);
            $("#box").removeClass("class");
            $("#box").addClass("user");
        }
        studentsView = false;

    });

    $("body").on("click","#users .reload",function(){
        loadUsers();
        if(this.className === "reload"){
            $(this).addClass("turn");
        }
        else if(this.className === "reload turn"){
            $(this).removeClass("turn");
        }
        else{
            console.log("Did not turn");
        }
    });

    $("body").on("click","#box .cancel",function(){
        $("#box").removeClass("user");
        $("#box").removeClass("class");
        $("#box").hide(400);
        username = "";
        classid = "";
    });
    $("body").on("click","#box.user .ok",function(){
        deleteUser();
        $("#box").hide(400);
        $("#box").removeClass("user");
        $("#box").removeClass("class");
    });
    $("body").on("click","#box.class .ok",function(){
        deleteClass();
        $("#box").hide(400);
        $("#box").removeClass("user");
        $("#box").removeClass("class");
    });


    $("body").on("click","#users .sample.rfid",function(){
        username = $(this).siblings("span").html();
        sampleState($(this),"rfid");
    });
    $("body").on("click",".searchBtn",function(){
        showSearch();
        $(this).addClass("close");
    });


    $("body").on("click",".classified.close",function(){
        showClassHeader();
        lastUserName = "";
        username = "";
        loadClasses();
        $(this).removeClass("close");
    });
    $("body").on("click",".searchBtn.close",function(){
        showUserHeader();
        loadUsers();
        $(this).removeClass("close");
    });


    $("body").on("change",".searchUserInput.show",function(){
        searchUser = $(this).val();
        if(searchUser !== "") {
            searchUsers();
        }
    });

    function submitUser(){
        if (submitMode === "create") {
            var x = {
                username: $(".username").val(),
                userId :$(".userId").val()
            };
            $.ajax(
                {
                    url: "/admin/addUser",
                    method: "POST",
                    data: x,
                    beforeSend: function () {

                    },
                    success: function (res) {
                        if (!res.message) {
                            if($(".userList li span:first-child").html().startsWith("No")){
                                $(".userList").html("");
                            }
                            $(".userList").append(`
                                <li class="eachUser" id="user-${x.username.split(" ").join("-")}">
                                    <span>${x.username}</span>
                                    <span>${x.userId}</span>
                                    <button class="rightArrow ${x.userId}" title="Show User"></button>
                                    <button class="sample rfid" title="Get RFID Sample"></button>
                                    <button class="editUser" title="Edit User"></button>
                                    <button class="deleteUser" title="Delete User"></button>
                                </li>
                            `);
                            $("#users .close").click();
                        }
                        else {
                            alert(res.message);
                        }
                    },
                    fail: function () {
                        alert("No connection to server");
                    },
                    timeout: function () {
                        alert("No connection to server");
                    }
                }
            );
        }
        else if(submitMode === "edit"){

            let x = {
                newUsername:$(".username").val(),
                username: lastUserName,
                userId :lastUserId,
                newUserId : $(".userId").val()
            };
            $.ajax(
                {
                    url: "/admin/editUser",
                    method: "POST",
                    data: x,
                    beforeSend: function () {

                    },
                    success: function (res) {
                        if (!res.message) {
                            $(`#user-${lastUserName.split(" ").join("-")}`).remove();
                            $(".userList").prepend(`
                                <li class="eachUser" id="user-${x.username.split(" ").join("-")}">
                                    <span>${x.username}</span>
                                    <span>${x.userId}</span>
                                    <button class="sample rfid" title="Get RFID Sample"></button>
                                    <button class="editUser" title="Edit User"></button>
                                    <button class="deleteUser" title="Delete User"></button>
                                </li>
                            `);
                            $("#users .close").click();
                            alert("user " + username + " Successfully Updated !");
                        }
                        else {
                            alert(res.message);
                        }
                    },
                    fail: function () {
                        alert("No connection to server");
                    },
                    timeout: function () {
                        alert("No connection to server");
                    }
                }
            );
        }
    }
    function alert(message){
        $("#alertTop h3").html(message);
        $("#alertTop").addClass("show");
        setTimeout(function (){
            $("#alertTop").removeClass("show");
            // Something you want delayed.
        }, 5000); // 5seconds show
    }

    function loadUsers(list) {

        if(!list) {

            $.ajax({
                url: "/admin/getUsers",
                method: "GET",
                beforeSend: function () {
                    $(".userList").html("");
                },
                success: function (res) {
                    if (!res.message) {
                        parseUsersList(res);
                    }
                },
                fail: function () {
                    alert("No connection to server");
                },
                timeout: function () {
                    alert("No connection to server");
                }
            });
        }
    }
    function parseUsersList(list,classId,className){
        $(".userList").html("");
        if(classId){
            $("#users .header h3").html('class : "' + className + '" students');
            if (list.length > 0) {
                $.each(list, function (index, data) {
                    $(".userList").append(`
                                <li class="eachUser" id="user-${list[index].split(" ").join("-")}">
                                <span>${list[index]}</span>
                                <span>student</span>
                                <button class="deleteUser student" title="Delete User"></button>
                                </li>
                            `);
                });
            }
            else {
                $(".userList").append(`
                           <li class="eachUser">
                                <span>No user defined !</span>
                            </li>
                         `);
            }
        }
        else{
            $("#users .header h3").html("Users");
            if (list.length > 0) {
                $.each(list, function (index, data) {
                    $(".userList").append(`
                                <li class="eachUser" id="user-${list[index].username.split(" ").join("-")}">
                                <span>${list[index].username}</span>
                                <span>${list[index].userId}</span>
                                <button class="sample rfid" title="Get RFID Sample"></button>
                                <button class="editUser" title="Edit User"></button>
                                <button class="deleteUser ${list[index].userId}" title="Delete User"></button>
                                </li>
                            `);
                });
            }
            else {
                $(".userList").append(`
                           <li class="eachUser">
                                <span>No user defined !</span>
                            </li>
                         `);
            }
        }
    }

    function getUserInfos(){

        $.ajax({
            url: "/admin/getUserInfo/"+username,
            method: "GET",
            beforeSend: function () {
                $(".addUser").slideDown(300);
            },
            success: function (res) {
                if (!res.message) {
                    $(".username").val(res.username);
                }
                else{
                    alert(res.username);
                }
            },
            fail:function(res){
                console.log(res);
                alert("No connection to server");
            },
            timeout:function(){
                alert("No connection to server");
            }
        });
    }
    function deleteUser() {
        let x = {
            username: username
        };
        $.ajax({
            url: "/admin/deleteUser",
            method: "POST",
            data: x,
            success: function (res) {
                if (!res.message) {
                    $(`#user-${x.username}`).slideDown(300,function(){
                        $(`#user-${x.username}`).remove();
                    });
                    if(res.data.length>0){
                        deletingClasses = res.data ;
                        for(let z = 0 ; z < deletingClasses.length ; z ++){
                            $(`#class-${deletingClasses[z].id}`).remove();
                        }
                        $(".addUser").slideUp(300);
                        alert("User " + username + "and All Assigned Classes to the user Deleted Successfully ");
                    }
                    else {
                        $(".addUser").slideUp(300);
                        alert("User " + username + " Deleted Successfully !");
                    }
                }
                else {
                    alert(res.message);
                }
            },
            fail: function (res) {
                console.log(res);
                alert("No connection to server");
            },
            timeout: function () {
                alert("No connection to server");
            }
        });
    }

    function deleteClass() {
        let x = {
            id: classid,
        };
        $.ajax({
            url: "/admin/deleteClass",
            method: "POST",
            data: x,
            success: function (res) {
                if (!res.message) {
                    $(`#class-${x.id}`).slideDown(300);
                    setTimeout(function(){
                        $(`#class-${x.id}`).remove();
                    },400);
                    $(".addClass").slideUp(300);
                    alert("class " + classid + " Deleted Successfully !");
                }
                else {
                    alert(res.message);
                }
            },
            fail: function (res) {
                console.log(res);
                alert("No connection to server");
            },
            timeout: function () {
                alert("No connection to server");
            }
        });
    }


    function searchUsers(){
        var x = {
            text: searchUser,
        };
        $.ajax({
            url: "/admin/searchUsers",
            method: "POST",
            data: x,
            beforeSend:function(){
                $(".userList").html("");
            },
            success: function (res) {
                if (!res.message) {
                    if (res.length > 0) {
                        $.each(res, function (index, data) {
                            $(".userList").append(`
                                <li class="eachUser" id="user-${res[index].username.split(" ").join("-")}">
                                <span>${res[index].username}</span>
                                <span>${res[index].role}</span>
                                <button class="rightArrow ${res[index].role}" title="Show User"></button>
                                <button class="sample" title="Get RFID or Fingerprint Sample"></button>
                                <button class="editUser" title="Edit User"></button>
                                <button class="deleteUser" title="Delete User"></button>
                                </li>
                            `);
                        });
                    }
                    else{
                        $(".userList").append(`
                           <li class="eachUser">
                                <span>No user found starting with : ${searchUser} </span>
                            </li>
                         `);
                    }
                }
            },
            fail: function (res) {
                console.log(res);
                alert("No connection to server");
            },
            timeout: function () {
                alert("No connection to server");
            }
        });
    }

    function sampleState(element,type){
        var x = {
            username: username,
            type:type
        };
        $.ajax({
            url: "/admin/takeSampleState",
            method: "POST",
            data: x,
            beforeSend:function(){
                turnButton(element);
            },
            success: function (res) {
                clearInterval(turnInterval);
                alert(res.message);
            },
            fail: function (res) {
                console.log(res);
                alert("No connection to server");
            },
            timeout: function () {
                alert("No connection to server");
            }
        });
    }
    function turnButton(element){
        turnInterval = setInterval(function(){
            if(element[0].className.split("turn").length === 1){
                element.addClass("turn");
            }
            else{
                element.removeClass("turn");
            }
        },500);
    }
    function logout(){
        eraseCookie("KEY");
        eraseCookie("X-ACCESS-TOKEN");
        window.location.pathname= "/";
    }
</script>
</html>